.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  color: black;

  min-height: 1200px;
  padding: 5%;
}

.button-container {
  width:100%;
}

.top-buttons {
  width: 80%;
  color: #777777;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.top-button {
  height: 45px;
  padding-left: 6%;
  padding-right: 6%;

  cursor: pointer;
  border-bottom: 3px solid #777777;
}

.top-button:hover {
  border-bottom: 3px solid orange;
  color: black;
}

.button-selected {
  border-bottom: 3px solid orange;
}

.foredrag-card {
  width: 90%;
  min-height: 200px;
  background-color: red;
  margin-top: 50px;
}
