@import url(http://fonts.googleapis.com/css?family=Lato|Palanquin|Raleway:200,300,400);

$lato: 'Lato', sans-serif;
$palanquin: 'Palanquin', sans-serif;
$raleway: 'Raleway', sans-serif;

.app {
  text-align: center;
}

%font-style {
  font-family: $raleway;
  font-weight: 200;
  line-height: 1.875;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  @extend %font-style;
}

.top-info-box {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  > p {
    width: 80%;
    margin-top: 0;
    margin-bottom: 2em;
  }
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 4em;
  padding: 0;
}
