.event-card {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.event-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-card-title {
  font-size: 1.17em;
  font-weight: 300;
  line-height: 1.375;
}

.event-card-author {
  font-size: 14px;
  color: gray;
  line-height: 1.375;
  margin-top: 5px;
  margin-bottom: 4px;
}

.sign-up {
  font-size: 15px;
}

p {
  margin: 0;
  text-align: start;
}

.credits-text {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 10px;
}

.truncate-wrapper {
  color: black;
}

.truncate-wrapper:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
