.event-card {
    width: 100%;
    /* min-height: 50px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.event-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.event-card-title {
  font-size: 1.17em;
  font-weight: 300;
  line-height: 1.375;
}

.event-card-author {
  font-size: 14px;
  color: gray;
}

.event-card-info {
  margin-top: 5px;
  line-height: 1.45em;
}

.sign-up {
  font-size: 15px;
  margin-top: 5px;
}

p {
  margin: 0;
  text-align: start;
}