.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  color: black;

  min-height: 1200px;
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 978px) {
  .main-container {
    padding: 5%;
  }
}

/* @media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }

  body {
    padding:0;
  }

  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }
} */

.button-container {
  width:100%;
}

.top-buttons {
  width: 100%;
  color: #777777;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-button {
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;

  cursor: pointer;
  border-bottom: 3px solid #777777;
}

.top-button:hover {
  border-bottom: 3px solid orange;
  color: black;
}

.button-selected {
  border-bottom: 3px solid orange;
}

.time-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: -35px;
}

.time-label-text {
  margin: 0;
  margin-left: 15px;
}