.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  color: black;

  min-height: 1200px;
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.button-container {
  width:100%;
}

.top-buttons {
  width: 100%;
  color: #777777;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-button {
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;

  cursor: pointer;
  border-bottom: 3px solid #777777;
}

.top-button:hover {
  border-bottom: 3px solid orange;
  color: black;
}

.button-selected {
  border-bottom: 3px solid orange;
}


