@import url(
  http://fonts.googleapis.com/css?family=Lato|Palanquin|Raleway:200,
  300,
  400
);

$lato: "Lato", sans-serif;
$palanquin: "Palanquin", sans-serif;
$raleway: "Raleway", sans-serif;

.app {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 978px) {
  .app {
    padding-left: 0;
    padding-right: 0;
  }
}

%font-style {
  font-family: $raleway;
  font-weight: 200;
  line-height: 1.875;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  @extend %font-style;
}

.top-info-box {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  > p {
    width: 80%;
    margin-top: 0;
    margin-bottom: 2em;
    text-align: center;
  }
}

@media (max-width: 978px) {
  .top-info-box > p {
    width: 85%;
  }
}

h1 {
  margin: 0;
  margin-top: 35px;
  font-weight: 400;
  font-size: 4em;
  padding: 0;
  line-height: 50px;
}

.top-time-info {
  font-weight: 200;
  font-size: 18px;
  margin-top: 0;
  color: orange;
}

.top-info {
  margin-top: 30px;
  color: #c6c6c6;
}
