@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url("http://fonts.googleapis.com/css?family=Lato|Palanquin|Raleway:200,300,400");
.app {
  position: relative;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 978px) {
  .app {
    padding-left: 0;
    padding-right: 0;
  }
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 1.875;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.top-info-box {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), #000, rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.top-info-box > p {
  width: 80%;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;
}

@media (max-width: 978px) {
  .top-info-box > p {
    width: 85%;
  }
}
h1 {
  margin: 0;
  margin-top: 35px;
  font-weight: 400;
  font-size: 4em;
  padding: 0;
  line-height: 50px;
}

.top-time-info {
  font-weight: 200;
  font-size: 18px;
  margin-top: 0;
  color: orange;
}

.top-info {
  margin-top: 30px;
  color: #c6c6c6;
}

.particles {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.particles canvas {
  position: absolute;
}

.event-card {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.event-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-card-title {
  font-size: 1.17em;
  font-weight: 300;
  line-height: 1.375;
}

.event-card-author {
  font-size: 14px;
  color: gray;
  line-height: 1.375;
  margin-top: 5px;
  margin-bottom: 4px;
}

.sign-up {
  font-size: 15px;
}

p {
  margin: 0;
  text-align: start;
}

.credits-text {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 10px;
}

.truncate-wrapper {
  color: black;
}

.truncate-wrapper:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  /*padding-bottom:10%;*/
}

@media (max-width: 978px) {
  .main-container {
    padding-right: 8%;
    padding-left: 8%;
  }
}
.button-container {
  width: 100%;
}

.top-buttons {
  width: 100%;
  color: #777777;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 978px) {
  .top-buttons {
    padding-left: 0;
    padding-right: 0;
    font-size: 22px;
  }
}
@media (max-width: 450px) {
  .top-buttons {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .top-buttons {
    font-size: 16px;
  }
}
.top-button {
  height: 45px;
  width: 45%;
  cursor: pointer;
  border-bottom: 3px solid #777777;
}

@media (max-width: 450px) {
  .top-button {
    width: 48%;
  }
}
.top-button:hover {
  border-bottom: 3px solid orange;
  color: black;
}

.button-selected {
  border-bottom: 3px solid orange;
  color: black;
}

.time-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: -35px;
}

@media (max-width: 978px) {
  .time-label {
    margin-left: 0;
  }
}
.time-label-text {
  margin: 0;
  margin-left: 15px;
}

a {
  color: orange;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  font-weight: 500;
}

/*# sourceMappingURL=index.css.map */
